asgiref==3.8.1
astroid==3.2.2
attrs==23.2.0
autobahn==23.6.2
Automat==22.10.0
autopep8==1.5.5
cffi==1.16.0
channels==4.1.0
constantly==23.10.4
cryptography==42.0.8
daphne==4.1.2
dill==0.3.8
Django==5.0.6
djangochannelsrestframework==1.2.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
flake8==3.8.4
hyperlink==21.0.0
idna==3.7
importlib_metadata==8.0.0
incremental==22.10.0
isort==5.13.2
jedi==0.17.2
mccabe==0.6.1
packaging==24.1
parso==0.7.1
pillow==10.4.0
platformdirs==4.2.2
pluggy==1.5.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycodestyle==2.6.0
pycparser==2.22
pydocstyle==6.3.0
pyflakes==2.2.0
PyJWT==2.8.0
pylint==3.2.5
pyOpenSSL==24.1.0
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
pytoolconfig==1.3.1
rope==1.13.0
service-identity==24.1.0
six==1.16.0
snowballstemmer==2.2.0
sqlparse==0.5.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.5
Twisted==24.3.0
txaio==23.1.1
typing_extensions==4.12.2
ujson==5.10.0
yapf==0.40.2
zipp==3.19.2
zope.interface==6.4.post2
